<li class="task_container" id="task_container_<%= task.id %>">
  <table>
    <tr
     class="<%= "#{task.class.name.underscore} #{task.status}" %>"
     id="<%= "#{task.class.name.underscore}_#{task.id}" %>">
      <td class="toolbar external">
        <%= link_to "Delete", "#delete",:class=>"delete" %>
        <%= link_to "Edit", "#edit", :class=>"edit" %>
        <img class="taskhandle" src="images/task_handle.png"/>
      </td>
      <td class="status">
        <%= task_status(task) %>
      </td>
      <td class="start border">
        <%= raw task_action_button(task) %>
      </td>
      <td class="description border">
        <%= task.description %>
      </td>
      <td class="rate border">
        <%= task_rate(task) %>
      </td>
      <td class="earnings border">
        <%= task.task_earnings %>
      </td>
      <td class="duration border">
        <%= raw task.task_duration %>
      </td>
      <td class="external_bars">
        <%= raw task.task_duration_bar %>
      </td>
    </tr>
    <%= render :partial=>"tasks/edit", :object=>task %>
  </table>
</li>