<li class="task_container" id="task_container_<%= task.id %>">
  <section class="<%= "#{task.class.name.underscore} #{task.status}" %>"
   id="<%= "#{task.class.name.underscore}_#{task.id}" %>">
    <span class="toolbar external">
      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, "#delete",:class=>"delete" %>
      <%= link_to "Edit", "#edit", :class=>"edit" %>
      <img class="taskhandle" src="images/task_handle.png"/>
    </span>
    <span class="status">
      <%= task_status(task) %>
    </span>
    <span class="start border">
      <%= raw task_action_button(task) %>
    </span>
    <span class="description border">
      <%= task.description %>
    </span>
    <span class="rate border">
      <%= task_rate(task) %>
    </span>
    <span class="earnings border">
      <%= task.task_earnings %>
    </span>
    <span class="duration border">
      <%= raw task.task_duration %>
    </span>
    <span class="external_bars">
      <%= raw task.task_duration_bar %>
    </span>
  </section>
  <%= render :partial=>"tasks/edit", :object=>task %>
</li>
