<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
      <path d="M 8 0 L 8 8" fill="none" stroke="#EEEEEE" stroke-width="0.5"/>
    </pattern>
    <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
      <rect width="80" height="80" fill="url(#smallGrid)"/>
      <path d="M 80 0 L 80 80" fill="none" stroke="#EEEEEE" stroke-width="1"/>
    </pattern>
  </defs>
  <rect width="100%" height="100%" fill="url(#grid)" />
</svg>
<form action="/tasks" id="task_form" method="post">
  <section id="task_lists">
    <div>
      <span class="external"></span>
      <span id="task_list_commands">
        <%= link_to "New List", new_task_list_url, id: "new_task_list", title: "New Task List" %>
      </span>
    </div>
    <div>
      <%= render :partial=>"task_lists/edit", :object=>TaskList.new %>
      <%= render :partial=>@task_lists %>
    </div>
    <div id="totals">
      <span class="grand_total">
        Total:
      </span>
      <span class="grand_total" id="grand_total_earnings">
        <%= Money.new(@task_lists.to_a.sum(&:earnings), "USD").format(:no_cents_if_whole => true, :symbol => "$") %>
      </span>
      <span class="grand_total" id="grand_total_duration">
        <%= raw html_duration(@task_lists.to_a.sum(&:duration)) %>
      </span>
    </div>
    <%= render :partial=>"task_lists/footer" %>
  </section>
</form>
<div id="slide">
  <form id="invoices" autocomplete="off" class="current">
    <h2>
      <span>Invoices</span>
    </h2>
    <div>
      <ul>
        <%= render :partial => 'invoices/invoice', :object => Invoice.new %>
        <%= render :partial => @invoices %>
      </ul>
    </div>
  </form>
  <a href="#" title="toggle slide">
    <i class="fa fa-times"></i>
  </a>
</div>
<section id="settings" class="hidden"
  data-path-button="M 232.7905,316 C 232.79136,316.19717 232.78554,316.3906 232.7832,316.57443 C 232.47771,328.41823 222.78328,337.92484 210.86566,337.92484 L 210.75781,337.92484 L 210.67188,337.92484 L 210.58203,337.92484 L 210.49219,337.92484 L 210.41062,337.92484 L 210.27344,337.92484 L 210.13484,337.92484 C 210.08333,337.92484 210.03185,337.92466 209.98043,337.92431 C 209.93351,337.92398 209.88663,337.92351 209.83978,337.92289 C 198.05099,337.76736 188.50577,328.30495 188.2173,316.54885 C 188.21675,316.5251 188.2162,316.5013 188.21568,316.47746 C 188.21516,316.45361 188.21465,316.42973 188.2142,316.40579 C 188.21374,316.38186 188.21333,316.35788 188.21299,316.33385 C 188.21265,316.30983 188.21237,316.28576 188.21219,316.26164 C 188.21182,316.2399 188.21151,316.21811 188.21123,316.1963 C 188.21096,316.17449 188.21073,316.15265 188.21055,316.13082 C 188.21037,316.10899 188.21023,316.08715 188.21014,316.06534 C 188.21005,316.04353 188.21,316.02174 188.21,316 L 188.21,316 C 188.21,315.97424 188.21005,315.94852 188.21014,315.92283 C 188.21023,315.89713 188.21037,315.87146 188.21055,315.84579 C 188.21073,315.82013 188.21096,315.79446 188.21123,315.76876 C 188.21151,315.74307 188.21182,315.71735 188.21219,315.69159 C 188.37662,303.72647 198.12952,294.07516 210.13484,294.07516 L 210.31754,294.07516 L 210.68295,294.07516 L 210.86566,294.07516 C 222.87901,294.07516 232.63484,303.73817 232.78831,315.71352 L 232.7894,315.85676 Z"
  data-path-tab1="M 419.997,290.39 L 420,298.10056 C 420.00073,299.98828 417.90334,302.125 416.01562,302.125 L 403.875,302.125 L 97.34869,302.11551 L 92.20007,302.12182 C 90.31541,302.12413 87.55831,304.35129 88.20416,306.12182 L 88.20516,311.60736 L 88.209,342.55542 L 88.21128,346.08415 C 88.212502,347.97582 86.115083,350.1295 84.22342,350.12182 L 75.8822,350.09608 L 15.46791,350.11436 L 4.35938,350.11328 C 2.47351,350.1131 0.37506158,347.98252 0.37499999,346.09665 L 0.37470499,337.06323 L 0.37789999,308.40961 L 0.37791699,306.13281 L 0.40552087,302.1303 L 0.40786099,299.94801 L 0.39330582,299.52811 L 0.36904599,298.73261 L 0.37021949,298.08531 L 0.37799999,288.64118 L 0.37499999,14 L 0.37499999,5 C 0.37499999,2.642977 3.017977,0 5.375,0 L 19.625,0 L 405.875,0 L 416.00542,0 C 417.8937,0 420.00034,2.1284 420,4.01668 L 419.9982,14.000023 C 419.98459,89.463349 420.01526,214.92667 419.997,290.39 Z"
  data-path-tab2="M 419.997,290.39 L 420,298.10056 C 420.00073,299.98828 417.90334,302.125 416.01562,302.125 L 403.875,302.125 L 195.34869,302.11551 L 190.20007,302.12182 C 188.31541,302.12413 186.20362,304.23717 186.20416,306.12182 L 186.20516,311.60736 L 186.209,342.55542 L 186.21128,346.08415 C 186.2125,347.97582 184.11509,350.12766 182.22342,350.12182 L 173.8822,350.09608 L 113.09291,350.11436 L 101.98438,350.11328 C 100.09851,350.1131 98.000062,347.98252 98,346.09665 L 97.999705,337.06323 C 97.999428,328.58077 98.002848,315.36359 98.0029,308.40961 L 98.002917,306.13281 C 98.002932,304.1848 95.50737,303.14168 93.842482,302.1303 L 90.541094,302.12479 L 8.4160534,302.12473 L 4.3475994,302.12473 C 2.1795294,302.12473 0.34698673,300.25338 0.34877288,298.08531 L 0.35655338,288.64118 L 0.35355338,14 L 0.35355338,5 C 0.35355338,2.642977 2.9965304,0 5.3535534,0 L 19.978553,0 L 405.875,0 L 416.00542,0 C 417.8937,0 420.00034,2.1284 420,4.01668 L 419.9982,14.000023 C 419.98459,89.463349 420.01526,214.92667 419.997,290.39 Z"
  data-path-tab3="M 419.997,290.39 L 420,298.10056 C 420.00073,299.98828 417.90334,302.125 416.01562,302.125 L 403.875,302.125 L 293.34869,302.11551 L 288.20007,302.12182 C 286.31541,302.12413 284.84944,304.35108 284.20416,306.12182 L 284.20516,311.60736 L 284.209,342.55542 L 284.21128,346.08415 C 284.2125,347.97582 282.11509,350.12653 280.22342,350.12182 L 271.8822,350.09608 L 211.09291,350.11436 L 199.98438,350.11328 C 198.09851,350.1131 196.00006,347.98252 196,346.09665 L 195.9997,337.06323 C 195.99943,328.58077 196.00285,315.36359 196.0029,308.40961 L 196.00292,306.13281 C 196.00293,304.1848 193.79049,302.13355 191.84248,302.1303 L 188.54109,302.12479 L 8.4160534,302.12473 L 4.3475994,302.12473 C 2.1795294,302.12473 0.34698673,300.25338 0.34877288,298.08531 L 0.35655338,288.64118 L 0.35355338,14 L 0.35355338,5 C 0.35355338,2.642977 2.9965304,0 5.3535534,0 L 19.978553,0 L 405.875,0 L 416.00542,0 C 417.8937,0 420.00034,2.1284 420,4.01668 L 419.9982,14.000023 C 419.98459,89.463349 420.01526,214.92667 419.997,290.39 Z">
  <svg width="420" height="350">
    <path d="M 232.7905,316 C 232.79136,316.19717 232.78554,316.3906 232.7832,316.57443 C 232.47771,328.41823 222.78328,337.92484 210.86566,337.92484 L 210.75781,337.92484 L 210.67188,337.92484 L 210.58203,337.92484 L 210.49219,337.92484 L 210.41062,337.92484 L 210.27344,337.92484 L 210.13484,337.92484 C 210.08333,337.92484 210.03185,337.92466 209.98043,337.92431 C 209.93351,337.92398 209.88663,337.92351 209.83978,337.92289 C 198.05099,337.76736 188.50577,328.30495 188.2173,316.54885 C 188.21675,316.5251 188.2162,316.5013 188.21568,316.47746 C 188.21516,316.45361 188.21465,316.42973 188.2142,316.40579 C 188.21374,316.38186 188.21333,316.35788 188.21299,316.33385 C 188.21265,316.30983 188.21237,316.28576 188.21219,316.26164 C 188.21182,316.2399 188.21151,316.21811 188.21123,316.1963 C 188.21096,316.17449 188.21073,316.15265 188.21055,316.13082 C 188.21037,316.10899 188.21023,316.08715 188.21014,316.06534 C 188.21005,316.04353 188.21,316.02174 188.21,316 L 188.21,316 C 188.21,315.97424 188.21005,315.94852 188.21014,315.92283 C 188.21023,315.89713 188.21037,315.87146 188.21055,315.84579 C 188.21073,315.82013 188.21096,315.79446 188.21123,315.76876 C 188.21151,315.74307 188.21182,315.71735 188.21219,315.69159 C 188.37662,303.72647 198.12952,294.07516 210.13484,294.07516 L 210.31754,294.07516 L 210.68295,294.07516 L 210.86566,294.07516 C 222.87901,294.07516 232.63484,303.73817 232.78831,315.71352 L 232.7894,315.85676 Z"/>
  </svg>
  <ul>
    <li tab="user" class="current">
      <a href="#" title="User account">
        <i class="fa fa-user"></i>
      </a>
      <div>
      <%= form_for @user do |f| %>
        <ul>
          <li>
            <h3>Account</h3>
            <img src="<%= @user.identities.first.image %>" alt="<%= @user.name %>" />
            <p>
              <%= @user.name %>
              <a href="/sessions/destroy" title="Sign out">
                <i class="fa fa-sign-out"></i>
              </a>
            </p>
            <p><%= @user.email %></p>
          </li>
          <li>
            <h3>Location</h3>
            <p></p>
            <fieldset>
              <ol class="questions">
                <li>
                  <%= f.label :country %>
                  <%= f.text_field :country %>
                </li>
                <li>
                  <%= f.label :state %>
                  <%= f.text_field :state %>
                </li>
                <li>
                  <%= f.label :city %>
                  <%= f.text_field :city %>
                </li>
                <li>
                  <%= f.label :address %>
                  <%= f.text_field :address %>
                </li>
                <li>
                  <%= f.label :zip %>
                  <%= f.text_field :zip %>
                </li>
              </ol>
              <button class="submit" type="submit">Confirm</button>
              <div class="controls">
                <button class="next"></button>
                <div class="progress"></div>
                <span class="error-message"></span>
              </div>
            </fieldset>
          </li>
          <li>
          </li>
        </ul>
      <% end %>
      <div>
    </li>
    <li tab="preferences">
      <a href="#" title="Preferences">
        <i class="fa fa-wrench"></i>
      </a>
      <div>
        <form>
          <ul>
            <li>
              <h3>Preferences</h3>
              <fieldset>
                <label for="user_monetize">Monetize mode</label>
                <input id="user_monetize" type="checkbox" name="monetize" value="1" />
              </fieldset>
              <p></p>
            </li>
          </ul>
        </form>
      </div>
    </li>
    <li tab="contacts">
      <a href="#" title="Sync contacts">
        <i class="fa fa-users"></i>
      </a>
      <div>
        <ul>
          <li>
            <h3>Contacts</h3>
            <ul id="contacts">
            </ul>
            <p>
              Google Contacts read-only permissions needed.
              <a href="#">Authorize</a>
            </p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <button>
    <i class="fa fa-gear fa-lg"></i>
  </button>
  <div>
    <button class="close">
      <i class="fa fa-times fa-lg"></i>
    </button>
    <div class="user">
    </div>
    <div class="adjust">
    </div>
    <div class="contacts">
    </div>
  </div>
</section>
