<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
      <path d="M 8 0 L 8 8" fill="none" stroke="#EEEEEE" stroke-width="0.5"/>
    </pattern>
    <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
      <rect width="80" height="80" fill="url(#smallGrid)"/>
      <path d="M 80 0 L 80 80" fill="none" stroke="#EEEEEE" stroke-width="1"/>
    </pattern>
  </defs>
  <rect width="100%" height="100%" fill="url(#grid)" />
</svg>
<form action="/tasks" id="task_form" method="post">
  <section id="task_lists">
    <div>
      <span class="external"></span>
      <span id="task_list_commands">
        <%= link_to "New list", new_task_list_url, :id=>"new_task_list" %>
      </span>
    </div>
    <div>
      <%= render :partial=>"task_lists/edit", :object=>TaskList.new %>
      <%= render :partial=>@task_lists %>
    </div>
    <div id="totals">
      <span class="grand_total">
        Total:
      </span>
      <span class="grand_total" id="grand_total_earnings">
        <%= Money.new(@task_lists.to_a.sum(&:earnings), "USD").format(:no_cents_if_whole => true, :symbol => "$") %>
      </span>
      <span class="grand_total" id="grand_total_duration">
        <%= raw html_duration(@task_lists.to_a.sum(&:duration)) %>
      </span>
    </div>
    <%= render :partial=>"task_lists/footer" %>
  </section>
</form>
<div id="slide">
  <form id="settings" action="/users/me" method="put" autocomplete="off">
    <%= fields_for @user do |f| %>
      <h2>
        <span>Settings</span>
      </h2>
      <ul>
        <li>
          <h3>Account</h3>
          <img src="<%= @user.identities.first.image %>" alt="<%= @user.name %>" />
          <fieldset>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </fieldset>
          <fieldset>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </fieldset>
        </li>
        <li>
          <h3>
            Location
            <a href="#" title="guess location and fill fields">
              <i class="fa fa-location-arrow"></i>
            </a>
          </h3>
          <fieldset>
            <%= f.label :country %>
            <%= f.text_field :country %>
          </fieldset>
          <fieldset>
            <%= f.label :state %>
            <%= f.text_field :state %>
          </fieldset>
          <fieldset>
            <%= f.label :city %>
            <%= f.text_field :city %>
          </fieldset>
          <fieldset>
            <%= f.label :address %>
            <%= f.text_field :address %>
          </fieldset>
          <fieldset>
            <%= f.label :zip %>
            <%= f.text_field :zip %>
          </fieldset>
          <fieldset>
            <%= f.submit 'Save', :method => 'put' %>
          </fieldset>
        </li>
        <li>
          <a href="/sessions/destroy">
            Sign out
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    <% end %>
  </form>
  <form id="invoices" autocomplete="off" class="current">
    <h2>
      <span>Invoices</span>
    </h2>
    <div>
      <ul>
        <%= render :partial => 'invoices/invoice', :object => Invoice.new %>
        <%= render :partial => @invoices %>
      </ul>
    </div>
  </form>
  <form id="clients" autocomplete="off">
    <h2>
      <span>Clients</span>
    </h2>
    <ul>
    </ul>
  </form>
  <a href="#" title="toggle slide">
    <i class="fa fa-times"></i>
  </a>
</div>
