<%= fields_for edit, :namespace => prefix do |form| %>
  <fieldset client="<%= edit.id %>">
    <ol class="questions">
      <li>
        <span><%= form.label :email %></span>
        <%= form.text_field :email, :type => :email, :required => true, :placeholder => 'payer@email.adress' %>
      </li>
      <li>
        <span><%= form.label :name %></span>
        <%= form.text_field :name %>
      </li>
    </ol>
    <button class="submit" type="submit">Confirm</button>
    <div class="controls">
      <button class="next"></button>
      <div class="progress"></div>
      <span class="error-message"></span>
    </div>
  </fieldset>
<% end %>
