<%= fields_for edit do |form| %>
  <tr style="display:none"
    id="<%= (edit.new_record? ? nil : "edit") %>"
    class="form <%= edit.new_record? ? 'new' : 'edit' %> <%= edit.class.name.underscore %> <%= edit.id.to_s %>">
    <td class="external"></td>
    <td class="title" colspan="3">
      <%= form.text_field   :title, :disabled=>true %>
    </td>
    <td class="default_rate" colspan="3">
      <%= "$" %>
      <%= form.text_field :default_rate, :disabled=>true %>
      <%= "/h" %>
    </td>
    <td class="submit external">
      <% if edit.new_record? %>
        <%= form.submit "Create task list" , :action => task_lists_path, :disabled=>true %>
      <% else %>
        <%= form.submit "Save task list", :action => task_list_path(edit), :method=>"put", :disabled=>true %>
      <% end %>
      <%= link_to "Cancel", "#cancel" %>
    </td>
  </tr>
<% end %>