<section class="<%= header.class.name.underscore %>"
 id="<%= header.class.name.underscore << "_" << header.id.to_s %>">
  <span class="external toolbar">
    <%= link_to "#delete", class: "delete", title: "Delete this task list" do %>
      <i class="fa fa-trash-o">
    </i>
    <% end %><%= link_to "#edit", class: "edit", title: "Edit this task list" do %>
      <i class="fa fa-pencil-square"></i>
    <% end %>
  </span>
  <span class="title">
    <%= header.title %>
  </span>
  <span class="new_task">
    <%= link_to new_task_list_task_url(header), title: "Create new task" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </span>
</section>
<%= render :partial=>"task_lists/edit", :object=>header %>
