<%= render :partial=>"task_lists/header", :object=>task_list %>
<%= render :partial=>"tasks/edit", :object=>task_list.tasks.build %>
<ul class="list_container" id="task_list_container_<%= task_list.id %>">
  <%= render :partial=>task_list.sorted_tasks %>
</ul>
<div class="total" id="total_<%= task_list.id %>">
  <span class="external"></span>
  <span class="earnings" id="task_list_earnings_<%= task_list.id %>">
    <%= task_list.earnings.format(:no_cents_if_whole => true, :symbol => "$") %>
  </span>
  <span class="duration" id="task_list_duration_<%= task_list.id %>">
    <%= raw html_duration(task_list.duration) %>
  </span>
</div>
<%= render :partial=>"task_lists/footer" %>
