<form action="/tasks" id="task_form" method="post">
  <table cellpadding="0" cellspacing="0" id="task_lists">
    <tfoot>
      <tr>
        <td class="external"></td>
        <td colspan="3"></td>
        <td class="grand_total">
          Total:
        </td>
        <td class="grand_total" id="grand_total_earnings">
          <%= @task_lists.sum(&:earnings).to_money.format(:no_cents_if_whole => true, :symbol => "$") %>
        </td>
        <td class="grand_total" id="grand_total_duration">
          <%= raw formatted_duration(@task_lists.sum(&:duration)) %>
        </td>
      </tr>
      <%= render :partial=>"task_lists/footer" %>
    </tfoot>
    <tbody>
      <tr>
        <td class="external"></td>
        <td colspan="6" id="task_list_commands">
          <%= link_to "New task list", new_task_list_url, :id=>"new_task_list" %>
        </td>
      </tr>
      <%= render :partial=>"task_lists/edit", :object=>TaskList.new %>
      <%= render :partial=>@task_lists %>
    </tbody>
  </table>
</form>

