<!DOCTYPE html>
<head>
<title>Trails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <%= javascript_include_tag "application" %>
  <script>
    (function() {
      window.onload = function() {
        Application.init({
          controller: '<%= params[:controller] %>',
          action: '<%= params[:action] %>'
        });
      };
    })();
  </script>
</head>
<body class="<%= page_class %>">
  <nav class="clearfix">
    <ul class="clearfix">
      <li>
        <%=
          link_to "Settings", "settings"
        %>
      </li>
      <li>
        <%=
          link_to "Sign out",
            :controller => "sessions",
            :action => 'destroy'
        %>
      </li>
    </ul>
    <a href="#" id="pull">Menu</a>
  </nav>
  <%= yield %>
</body>
