<!DOCTYPE html>
<head>
<title>Trails</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    (function() {
      window.onload = function() {
        Application.init({
          controller: '<%= params[:controller] %>',
          action: '<%= params[:action] %>'
        });
      };
    })();
  </script>
</head>
<body class="<%= page_class %>">
<% if session[:user_id] %>
  <div id="utility_menu">
    <%= link_to "Settings", "settings" %>
    |
    <%= link_to "Sign out", :controller => "sessions", :action => 'destroy' %>
  </div>
<% end %>
<%= yield %>
</body>
